# Tuples

A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets in python.

### Properties :

- immutable
- supports slicing

### Advantages of tuples over list 

- iterating on tuples are faster than list 
- immutable we have its implementation in dict (we will ses how)
- immutable data u can always be stored as tuples

In [1]:
t = ()
print(type(t))

<class 'tuple'>

In [2]:
# Initializing a tuple

t = 1,
print(type(t))

<class 'tuple'>

In [4]:
# is Tuple immutable ?? => hasable or not

tuple_a = (1,2,3,4,5)
print(tuple_a[0])
print(hash(tuple_a)) #it is hashble => immutable 
tuple_a[0]= 99 #this should throw an error

1
8315274433719620810

TypeError: 'tuple' object does not support item assignment

Observation :
- tuples are Hashable, which means they are immutable
- tuples can be accessed by index

In [7]:
# Join 2 tuples 

tuple_a = 1,2,3,4
tuple_b = "a","b","c"
print("tuple_a :", tuple_a)
print("tuple_b :", tuple_b)
result = tuple_a+tuple_b
print("Result after Joining :",result)

tuple_a : (1, 2, 3, 4)
tuple_b : ('a', 'b', 'c')
Result after Joining : (1, 2, 3, 4, 'a', 'b', 'c')

In [10]:
# Slicing operation on tuples

tuple_a = 1,2,3,4,5,6
print(tuple_a[1::5])

(2,)

In [11]:
# Reverse a tuple :: slicing

tuple_a = 1,2,3,4,5,6
print("tuple_a :", tuple_a)
print("reverse of tuple_a :",tuple_a[::-1])

tuple_a : (1, 2, 3, 4, 5, 6)
reverse of tuple_a : (6, 5, 4, 3, 2, 1)

In [12]:
# Min and Max of tuple

tuple_a = 1,2,3,4,5,6
print("max of tuple :",max(tuple_a))
print("min of tuple :",min(tuple_a))

max of tuple : 6
min of tuple : 1

In [13]:
del tuple_a
print(tuple_a) #should throw error as tuple has been deleted

NameError: name 'tuple_a' is not defined

In [15]:
# Various Operations on tuples

tuple_a = 1,2,3,4,5,6
print("tuple_a :", tuple_a)
print("element at index 3 of tuple_a :",tuple_a.index(3))
print("length of tuple :",len(tuple_a))
print("multiply tuple_a with 4 :",tuple_a*4)
print("is 3 present in tuple_a :",3 in tuple_a)

tuple_a : (1, 2, 3, 4, 5, 6)
element at index 3 of tuple_a : 2
length of tuple : 6
multiply tuple_a with 4 : (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
is 3 present in tuple_a : True

In [18]:
# convert tuple to List

tuple_a = 1,2,3,4,5
print("tuple_a :", tuple_a)
print("tuple_a as list :",list(tuple_a))

tuple_a : (1, 2, 3, 4, 5)
tuple_a as list : [1, 2, 3, 4, 5]

In [20]:
# tuple as string

tuple_a = 1,2,3,4,5
s1 =(str(tuple_a))
print("tuple_a :", tuple_a)
print("tuple_a as string :", s1)
print("element as 0th index of tuple_a :",tuple_a[0])
print("element as 0th index of string :",s1[0])

tuple_a : (1, 2, 3, 4, 5)
tuple_a as string : (1, 2, 3, 4, 5)
element as 0th index of tuple_a : 1
element as 0th index of string : (

### Operations on tuples : Iteration, deletion, remove, join
- can't remove items from tuple. why ??


(Hint : immutable)

In [23]:
# accessing tuple elements

tuple_team = ("sachin", "dravid", "sehwag", "laxman", "ganguly")
print("team tuple :", tuple_team)
print("team members from index 2 to 5 :",tuple_team[2:5])
print("team members from index -4 to -1 :",tuple_team[-4:-1])

team tuple : ('sachin', 'dravid', 'sehwag', 'laxman', 'ganguly')
team members from index 2 to 5 : ('sehwag', 'laxman', 'ganguly')
team members from index -4 to -1 : ('dravid', 'sehwag', 'laxman')

Observation :
- indexing works as it works everywhere, including the element at startIndex and excluding the element at endIndex

In [24]:
# Accessing elements through loop

tuple_team = ("sachin", "dravid", "sehwag", "laxman", "ganguly")
for members in tuple_team:
    print(members)

sachin
dravid
sehwag
laxman
ganguly

In [26]:
# Checking if the element is in the tuple or not

tuple_team = ("sachin", "dravid", "sehwag", "laxman", "ganguly")
print("team (tuple) list :", tuple_team)
print("Sachin is in team : ", "sachin" in tuple_team)
print("Kambli is in team :", "kambli" in tuple_team)

team (tuple) list : ('sachin', 'dravid', 'sehwag', 'laxman', 'ganguly')
Sachin is in team :  True
Kambli is in team : False

In [30]:
# Join list

tuple_a = ("x","y","z")
tuple_b = (1,2,3)

tuple_c = tuple_a + tuple_b
print("tuple_a :", tuple_a)
print("tuple_b :", tuple_b)
print("*"*35)
print("After join :",tuple_c)

tuple_a : ('x', 'y', 'z')
tuple_b : (1, 2, 3)
***********************************
After join : ('x', 'y', 'z', 1, 2, 3)

In [36]:
# Frequency of an element in a tuple :: number of times an element occur in a tuple

tuple_a = (1,2,3,1,2,4,5,7,8,1,5,9)
print("1 occurs =>",tuple_a.count(1), "times")
print("3 occurs =>",tuple_a.count(3), "times")

1 occurs => 3 times
3 occurs => 1 times

In [41]:
# Get index of any element in the tuple

tuple_a = (1,2,3,1,2,4,5,7,8,1,5,9)
print("index of 1 :",tuple_a.index(1))
print("index of 9 :",tuple_a.index(9))

index of 1 : 0
index of 9 : 11

Observation :
- 'index' function returns the index of 1st occurance of that element in the tuple

# Dictionary